<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/images/MedDaytransparLogo.png" alt="MedDay" width="150" height="47">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Popular</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/Speciality" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Speciality
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Cardiology</a></li>
            <li><a class="dropdown-item" href="/Neurology">Neurology</a></li>
            <li><a class="dropdown-item" href="#">Nephrology</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/All">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">My Favorite</a>
        </li>
      </ul>
      <div class="btn-group me-3" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary">Sign Up</button>
        <button type="button" class="btn btn-primary">Log In</button>
      </div>
    </div>
  </div>
</nav>