<div class="footer bg-light">
    <div class="nav-links ms-5 pt-4">
        <a class="nav-link " aria-current="page" href="/Home"><h6>Home</h6></a>
        <a class="nav-link" href="#"><h6>Popular</h6></a>
        <a class="nav-link" href="/All"><h6>All</h6></a>
    </div>
</div>