<div class="scales pb-5">
  <div class="container-fluid py-5" style="width: 70vh; height: 10vh;">
    <form class="d-flex">
      <input type="search" class="form-control rounded me-2" placeholder="Search" name="input" aria-label="Search"
      aria-describedby="search-addon" (input)="filter(input.value)" #input/>
    </form>
  </div>
  
  <div class="list-group list-group-flush mt-4 px-5 mx-5">
    <a href="/BMI" class="list-group-item list-group-item-action my-2" #child>
      <h5 class="mb-1">Body Mass Index (BMI)</h5>
      <p class="mb-1">BMI is a measurement of a person's leanness or corpulence based on their height and weight, and is intended to quantify tissue mass.</p>
    </a>
    <a href="/Glasgow" class="list-group-item list-group-item-action my-2" #child>
      <h5 class="mb-1">Glasgow coma scale</h5>
      <p class="mb-1">The Glasgow Coma Scale provides a practical method for assessment of impairment of conscious level in response to defined stimuli.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action my-2" #child>
      <h5 class="mb-1">Another scale</h5>
      <p class="mb-1">Another scale description.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action my-2" #child>
      <h5 class="mb-1">Another scale</h5>
      <p class="mb-1">Another scale description.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action my-2" #child>
      <h5 class="mb-1">Another scale</h5>
      <p class="mb-1">Another scale description.</p>
    </a>
  </div>
</div>
