.glasgow-scale {
    background-color: rgba(200, 213, 228, 0.3);
}

.btn {
    font-size: 18px;
    background-color: rgba(19, 91, 125, 0.9);
    color: white;
    border: none;
}
  
.btn:hover {
    background-color: rgb(14, 67, 92);
}

.btn:checked {
    background-color: rgb(14, 67, 92);
}

.result {
    display: none;
}
