<div class="card">
    <img
    class="card-img"
    src="../../../assets/images/March2021-Website-Header-gradient.png"
    alt="Card image"
    width="500" height="200"
    style = "filter: grayscale(40%)"
  />
  <div class="card-img-overlay text-white mt-5 ms-5">
    <h2><strong>Glasgow coma scale</strong></h2>
  </div>
</div>

<div class="glasgow-scale ps-5">
    <br>
    <div class="inputs mt-4">
        <div class="first-input d-flex justify-content-center">
            <div class="input-label">
                <h5>Best eye response</h5> 
            </div>
            <div class="input-answer ms-5">
                <div class="btn-group-vertical" style="width: 250px" data-toggle="buttons">
                    <input type="radio" class="btn-check" name="group1" id="option1" autocomplete="off">
                    <label class="btn btn-secondary" for="option1" (click)="getEyeValue(4)">Spontaneously (+4)</label>
                    
                    <input type="radio" class="btn-check" name="group1" id="option2" autocomplete="off">
                    <label class="btn btn-secondary" for="option2" (click)="getEyeValue(3)">To verbal command (+3)</label>
                   
                    <input type="radio" class="btn-check" name="group1" id="option3" autocomplete="off">
                    <label class="btn btn-secondary" for="option3" (click)="getEyeValue(2)">To pain (+2)</label>

                    <input type="radio" class="btn-check" name="group1" id="option4" autocomplete="off">
                    <label class="btn btn-secondary" for="option4" (click)="getEyeValue(1)">No eye opening (+1)</label>
                </div>
            </div>
        </div>
        <br>
        <div class="second-input d-flex justify-content-center">
            <div class="input-label">
                <h5>Best verbal responce</h5>
            </div>
            <div class="input-answer ms-3">
                <div class="btn-group-vertical"  style="width: 250px" data-toggle="buttons">
                    <input type="radio" class="btn-check" name="group2" id="option5" autocomplete="off">
                    <label class="btn btn-secondary" for="option5" (click)="getVerbalValue(5)">Oriented (+5)</label>

                    <input type="radio" class="btn-check" name="group2" id="option6" autocomplete="off">
                    <label class="btn btn-secondary" for="option6" (click)="getVerbalValue(4)">Confused (+4)</label>

                    <input type="radio" class="btn-check" name="group2" id="option7" autocomplete="off">
                    <label class="btn btn-secondary" for="option7" (click)="getVerbalValue(3)">Inappropriate (+3)</label>

                    <input type="radio" class="btn-check" name="group2" id="option8" autocomplete="off">
                    <label class="btn btn-secondary" for="option8" (click)="getVerbalValue(2)">Incomprehensible sounds (+2)</label>

                    <input type="radio" class="btn-check" name="group2" id="option9" autocomplete="off">
                    <label class="btn btn-secondary" for="option9" (click)="getVerbalValue(1)">Incomprehensible sounds (+1)</label>
                </div>
            </div>
        </div>
        <br>
        <div class="third-input d-flex justify-content-center">
            <div class="input-label">
                <h5>Best motor responce</h5>
            </div>
            <div class="input-answer ms-3 mb-5">
                <div class="btn-group-vertical" style="width: 250px" data-toggle="buttons">
                    <input type="radio" class="btn-check" name="group3" id="option10" autocomplete="off">
                    <label class="btn btn-secondary" for="option10" (click)="getMotorValue(6)">Obeys commands (+6)</label>

                    <input type="radio" class="btn-check" name="group3" id="option11" autocomplete="off">
                    <label class="btn btn-secondary" for="option11" (click)="getMotorValue(5)">Localizes pain (+5)</label>

                    <input type="radio" class="btn-check" name="group3" id="option12" autocomplete="off">
                    <label class="btn btn-secondary" for="option12" (click)="getMotorValue(4)">Withdrawal from pain (+4)</label>

                    <input type="radio" class="btn-check" name="group3" id="option13" autocomplete="off">
                    <label class="btn btn-secondary" for="option13" (click)="getMotorValue(3)">Flexion to pain (+3)</label>

                    <input type="radio" class="btn-check" name="group3" id="option14" autocomplete="off">
                    <label class="btn btn-secondary" for="option14" (click)="getMotorValue(2)">Extension to pain (+2)</label>

                    <input type="radio" class="btn-check" name="group3" id="option15" autocomplete="off">
                    <label class="btn btn-secondary" for="option15" (click)="getMotorValue(1)">No motar responce(+1)</label>
                </div>
            </div>
        </div>
    </div>
    <div class='result'>
        {{getScore()}}
    </div>
    
    <div class="resultContainer d-flex justify-content-center" [ngSwitch]="value">
        <div *ngSwitchCase="'noResult'" class="card text-white bg-primary ms-5 mb-5" style="width: 80vh; height: 23vh;">
            <div class="card-header"><h6>Result</h6></div>
            <div class="card-body">
                <h5 class="card-title">No result available. Please choose inputs.</h5>
            </div>
        </div>
        
        <div *ngSwitchCase="'mild'" class="card text-white bg-success ms-5 mb-5" style="width: 80vh; height: 23vh;">
            <div class="card-header"><h6>Result</h6></div>
            <div class="card-body">
                <h5 class="card-title">Mild brain injury.</h5>
                <p class="card-text">Score is {{getScore()}}</p>
            </div>
        </div>
        
        <div *ngSwitchCase="'moderate'" class="card text-white bg-warning ms-5 mb-5" style="width: 80vh; height: 23vh;">
            <div class="card-header"><h6>Result</h6></div>
            <div class="card-body">
                <h5 class="card-title">Moderate brain injury.</h5>
                <p class="card-text">Score is {{getScore()}}</p>
            </div>
        </div>
        
        <div *ngSwitchCase="'severe'" class="card text-white bg-danger ms-5  mb-5" style="width: 80vh; height: 23vh;">
            <div class="card-header"><h6>Result</h6></div>
            <div class="card-body">
                <h5 class="card-title">Severe brain injury.</h5>
                <p class="card-text">Score is {{getScore()}}</p>
            </div>
        </div>
    </div>
</div>





