<div class="card">
    <img
    class="card-img"
    src="../../../assets/images/March2021-Website-Header-gradient.png"
    alt="Card image"
    width="500" height="200"
    style = "filter: grayscale(40%)"
  />
  <div class="card-img-overlay text-white mt-5 ms-5">
    <h2><strong>Body Mass Index (BMI)</strong></h2>
  </div>
</div>


<div class="bmi-scale py-5 ps-5">
    <div class="input-group-lg">
        <div class="first-input" style="width: 50vh;">
            <span class="input-group-text" id="inputGroup-sizing-lg">Weight (kg)</span>
            <input 
                type="number" 
                class="form-control" 
                [(ngModel)]="weight" 
                aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-lg"
                min="0"
                
                >
        </div>
        <br>
        <div class="second-input" style="width: 50vh;">
            <span class="input-group-text" id="inputGroup-sizing-lg">Height (cm)</span>
            <input 
                type="number" 
                class="form-control" 
                [(ngModel)]="height" 
                aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-lg" 
                min="0"
                >
        </div>
    </div>
    <div class="result">
        {{getBMI()}}
    </div>
    <div class="resultContainer mt-5" [ngSwitch]="value">
        <div *ngSwitchCase="'noResult'" class="card text-white bg-primary" style="width: 70vh; height: 23vh;">
            <div class="card-header"><h6>Result</h6></div>
            <div class="card-body">
                <h5 class="card-title">No result available. Please insert inputs.</h5>
            </div>
        </div>
        
        <div *ngSwitchCase="'normal'" class="card text-white bg-success" style="width: 70vh; height: 23vh;">
            <div class="card-header"><h6>Result</h6></div>
            <div class="card-body">
                <h5 class="card-title">The weight is normal.</h5>
                <p class="card-text">BMI is {{getBMI()}}</p>
            </div>
        </div>
        
        <div *ngSwitchCase="'underweight'" class="card text-white bg-warning" style="width: 70vh; height: 23vh;">
            <div class="card-header"><h6>Result</h6></div>
            <div class="card-body">
                <h5 class="card-title">Underweight.</h5>
                <p class="card-text">BMI is {{getBMI()}}</p>
            </div>
        </div>

        <div *ngSwitchCase="'overweight'" class="card text-white bg-warning" style="width: 70vh; height: 23vh;">
            <div class="card-header"><h6>Result</h6></div>
            <div class="card-body">
                <h5 class="card-title">Overweight.</h5>
                <p class="card-text">BMI is {{getBMI()}}</p>
            </div>
        </div>
        
        <div *ngSwitchCase="'obese'" class="card text-white bg-danger" style="width: 70vh; height: 23vh;">
            <div class="card-header"><h6>Result</h6></div>
            <div class="card-body">
                <h5 class="card-title">Obesity.</h5>
                <p class="card-text">BMI is {{getBMI()}}</p>
            </div>
        </div>
    </div>
</div>
