<div class="card">
  <img
    class="card-img"
    src="https://www.pinnaclemedicalcentres.com/wp-content/uploads/2020/03/covid19-homepage-banner.jpg"
    alt="Card image"
    width="500" height="500"
    style = "filter: grayscale(40%)"
  />
  <div class="card-img-overlay text-white position-absolute top-50 start-50 translate-middle">
    <h1 class="card-title">Make your everyday work easier!</h1>
    <p class="card-text row justify-content-center">
      Find essential calculator you need.
    </p>
    <div class="container-fluid">
      <form class="d-flex">
        <input type="search" class="form-control rounded ms-5 me-2" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon"/>
        <button type="button" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>
</div>
